body {
    background-color:rgb(175, 199, 243)
}

h1{
text-align: center;
font-size: 70px;
}

#container{
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

#textBlock {
    background-color: #ffffff;
    width: 500px;
    height: 700px;
}

#conversation{
    border: black solid 1px;
    width: 500px;
    height: 600px;

}

#userInput{
    justify-content: center;
    display: flex;
    padding-top: 50px;
}