body {
    background-color:rgb(110, 154, 236)
}

h1{
    text-align: center;
    font-size: 70px;
}

/* pour centrer le textBlock */
#container{      
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

#tchatBlock {
    background-color: #ffffff;
    width: 500px;
    height: 700px;
    
}

#conversation{
    border: black solid 1px;
    width: 500px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display:inline;
    background-color: rgb(158, 158, 236);
    height: fit-content;
    width: max-content;
}

.time-stamp{
    font-size: 10px;
}

.response .message-text{
    padding: 10px 10px 10px 10px;
    border-radius:4px;
    border:1px solid #ddd;
    border:1px solid rgba(221,221,221,0.68);
    float:left;
    /* max-width: max-content; */
    height: fit-content;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

img{
    float:left;
    width: 50px;
    height: 50px;
}
.responseAvatar, .message-text-wrapper{
    display: inline-block;
    /* max-width: 500px; */
}

#userInput{
    justify-content: center;
    display: flex;
    padding-top: 50px;
}

.messageBox{
    display: block;
    width: max-content;
    height: max-content;
}

.request .requestAvatar {
	width: 55px;
	float: right;
}

.time-stamp{
    float:right;
}

.request .message-text-wrapper {
    display:table-cell;
    width:1%;
}

.request .message-text {
    padding: 10px 10px 10px 10px;
    border-radius:4px;
    border:1px solid #ddd;
    border:1px solid rgba(221,221,221,0.68);
    float:right;
    width: max-content;
    height: fit-content;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}